

.navbar {
    display: flex;
    align-items: stretch;
    background-image: white;
    border: 1px solid black;
    position: relative;
    padding: 0;
}


.navbar__item {
  align-items: center;
  display: flex;
  padding: 0.25rem 0.5rem;
}

.navbar__item--inline {

}

.navbar--left, .navbar--right {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

.navbar--left {
  justify-content: flex-start;
}

.navbar--right {
  justify-content: flex-end;
}



.navbar__item a {
	text-decoration: none;
    font-weight: bold;
	width: 100%;
}

.navbar__item:hover {
	background: #B9B9B9;
}


@media all and (max-width: 800px) {
  .navbar {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  .navbar {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
  }
  
  .navbar a { 
    text-align: center; 
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,0.3); 
    border-bottom: 1px solid rgba(0,0,0,0.1); 
  }

  
  .navbar li:last-of-type a {
    border-bottom: none;
  }
}






.breadcrumb {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.breadcrumb li {
	display: inline;
}

.breadcrumb li+li:before {
    content: "/\00a0";
}

.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

.pagination li {display: inline;}

.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.navbar__item .active, .pagination .active {
    color: red;
}

.navbar__item .disabled, .pagination .disabled  {
    color: blue;
}


