/*
Règles complémentaires :
• quote & blockquote : définir une mise en forme pour les textes « quotés » ou
correspondant à du code. On traitera les balises blockquote> - qui permet de
quoter les éléments html inclus, code> - qui permet d'afficher des fragments de
code informatique, ainsi que pre>, et kbd>. La mise en forme est différente pour
chacune de ces balises.

• tables : créer une classe pour la mise en forme par défaut des tableaux html. Cette
classe prend en compte les titre de colonnes, et fait une mise en forme sobre ;
créer des classes qui viennent compléter cette classe de base pour ajouter des
éléments supplémentaires de mise en forme : lignes alternées, bordures complètes,
lignes actives au survol.*/

@import url('https://fonts.googleapis.com/css?family=Merriweather|Open+Sans');

html {
	font-size: 18px;
}

body {
	font-size: 1rem;
}

p {
	margin-bottom: 1.75em;
}

h1, h2, h3, h4, h5, h6 {
	color: black;
	font-family: 'Open Sans', sans-serif,
				Helvetica, sans-serif;
	font-weight: bold;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
	font-size: small;
	font-weight: grey;
}

 
h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2.5rem;
}

h3 {
	font-size: 2rem;
}

h4 {
	font-size: 1.75rem;
}

h5 {
	font-size: 1.50rem;
}

h6 {
	font-size: 1.25rem;
}

.text--small {
	font-size: small;
	color: grey;
}


mark {
	background-color: yellow;
	color: black; 
}

del {
	text-decoration: line-through;
} 

ins {
	text-decoration: underline;
} 

u{
	text-decoration: underline;
}

strong {
	font-weight: bold;
}

em {
	font-weight: italic;
} 

/*Balise abbr ?*/


/* text alignement */

.text-align--center {
	text-align: center;
}

.text-align--left {
	text-align: left;
}

.text-align--right {
	text-align: right;
}

.text-align--justify {
	text-align: justify;
}

.text--uppercase {
	text-transform: uppercase;
}

.text--lowercase {
	text-transform: lowercase;
}

/* List styles */
ul li {
	list-style-type: circle; 
}

.list--square li {
	list-style-type: square;
}

.list--normal li {
	list-style-type: none;
}

/* blockquote */
blockquote {
  	margin-bottom: 1.75em;
  	margin-left: 2%;
  	padding-left: 2%;
  	border-left: 3px solid #ccc;
}

blockquote:before {
    top: 0;
    left: 0;
    content: "\201C";
}

blockquote:after {
    top: 0;
    right: 0;
    content: "\201D";
}
