@import url("https://fonts.googleapis.com/css?family=Merriweather|Open+Sans");
html {
  font-size: 10px; }

body {
  font-size: 1.8rem; }

p {
  margin-bottom: 1.75em;
  line-height: 1.75em; }

h1, h2, h3, h4, h5, h6 {
  color: black;
  font-family: 'Open Sans', sans-serif, Helvetica, sans-serif;
  font-weight: bold; }

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  font-size: small;
  font-weight: lighter; }

h1 {
  font-size: 3.2rem; }

h2 {
  font-size: 2.8rem; }

h3 {
  font-size: 2.4rem; }

h4 {
  font-size: 2rem; }

h5 {
  font-size: 1.80rem; }

h6 {
  font-size: 1.50rem; }

.text--small {
  font-size: small;
  color: grey; }

mark {
  background-color: yellow;
  color: black; }

del {
  text-decoration: line-through; }

ins {
  text-decoration: underline; }

u {
  text-decoration: underline; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

/*Balise abbr ?*/
/* text alignement */
.text-align--center {
  text-align: center; }
.text-align--left {
  text-align: left; }
.text-align--right {
  text-align: right; }
.text-align--justify {
  text-align: justify; }

.text--uppercase {
  text-transform: uppercase; }
.text--lowercase {
  text-transform: lowercase; }

/* List styles */
ul li {
  list-style-type: circle; }

.list--square li {
  list-style-type: square; }
.list--normal li {
  list-style-type: none; }

/* blockquote */
blockquote {
  margin-bottom: 1.75em;
  margin-left: 2%;
  padding-left: 2%;
  border-left: 3px solid #ccc; }
  blockquote:before {
    top: 0;
    left: 0;
    content: "\201C"; }
  blockquote:after {
    top: 0;
    right: 0;
    content: "\201D"; }

pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word; }
  pre code {
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    padding: 20px; }

kbd {
  border: 1px solid #666;
  border-radius: 2px;
  padding: 2px 4px;
  background-color: #333;
  color: white;
  margin: 2px;
  font-size: 1em;
  text-decoration: none; }

/*Table css*/
.table-classic {
  border-spacing: 0.5rem;
  border-collapse: collapse; }
  .table-classic th, .table-classic td {
    width: 4rem;
    height: 2rem;
    border: 1px solid #ccc;
    text-align: center;
    border: 1px solid black;
    padding-left: 1em;
    padding-right: 1em; }
  .table-classic th {
    font-weight: bold; }

.btn {
  border-style: solid;
  border-width: 0.2rem;
  background: rgba(0, 0, 0, 0);
  color: #0085C8;
  line-height: 1em;
  font-size: 0.8em;
  text-transform: uppercase;
  font-weight: 300;
  padding: 1em 2.5em;
  text-decoration: none;
  border-radius: 12rem;
  border-color: #0085C8; }
  .btn:hover {
    cursor: pointer;
    color: #00007A;
    border-color: #00007A; }
  .btn:actif {
    color: #00007A; }
  .btn--small {
    padding: 0.5em 1.25em;
    font-size: 0.5em; }
  .btn--large {
    padding: 1.5em 3em;
    font-size: 1.2em; }
  .btn--alert {
    color: red;
    background-color: white;
    border-color: red; }
    .btn--alert:hover {
      background-color: red;
      color: white;
      border-color: red; }
  .btn--black {
    background-color: black;
    color: white; }
    .btn--black:hover {
      color: white;
      border-color: black; }
  .btn--green {
    background-color: green;
    color: white;
    border-color: white; }
    .btn--green:hover {
      color: white;
      border-color: white;
      background-color: green; }
  .btn--yellow {
    background-color: yellow;
    border-color: white;
    color: white; }
    .btn--yellow:hover {
      border-color: yellow; }
  .btn__text--red {
    color: red; }
  .btn__text--yellow {
    color: yellow; }
  .btn__text--green {
    color: green; }
  .btn--xxl {
    width: 100%; }

.alert {
  color: #555;
  border-radius: 10px;
  padding: 10px 10px 10px 36px;
  margin: 10px; }
  .alert--success {
    background-color: #87FF7E;
    border: 1px solid black; }
  .alert--warning {
    background-color: #FFF889;
    border: 1px solid black; }
  .alert--error {
    background-color: #E76264;
    border: 1px solid black; }
  .alert--info {
    background-color: #60C2FF;
    border: 1px solid black; }

/*# sourceMappingURL=css.css.map */
